*{
    padding: 0;
    margin: 0;
}

/* cards  */
.col {
    width: 290px;
    gap: 1px;
}
.row{
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
}
.full-navbar{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(89,155,85);
}
.logo{
    width: 18%;
    padding-left: 3%;
    color: rgb(251,220,62);
}

.select-location{
    width: 14%;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.6cap;
    padding-right: 2%;
}
#Location{
    padding-right: 10px;
}
.search{
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.search-bar{
    width: 100%;
}
.searching{
    width: 100%;
    height: 35px;
    border-top-left-radius: 2cap;
    border-bottom-left-radius: 2cap;
    border: 0px;
    padding-left: 10px;
    background-color: rgb(250, 244, 243);
}
.search-icon{
    background-color: rgb(250, 244, 243);
    height: 35px;
    border-top-right-radius: 2cap;
    border-bottom-right-radius: 2cap;
    padding-left: 10px;
    width: 5%;
    display: flex;
    align-items: center;
    color: black;
    justify-content: center;
    padding: 0px 4px 0px 4px;
}
.login{
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 6%;
    cursor: pointer;
}
.cart{
    width: 5%;
    margin-left: 2%;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center
}
.cart-right{
    padding-right: 10px;
}
p{
    margin: 0px;
}

/* Image Section  */
.image img{
    width: 100%;
}

/* Catagaries  */
.Product-Header {
    display: flex;
    gap: 70%;
    margin-top: 55px;
}
.Product-Name{
    margin-left: 40px;
}
.product-image{
    height: 200px;
}
.items{
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
}
.product-categories{
    cursor: pointer;
}

/* card slider start  */
.Section-1,.Section-2{
    padding: 3% 5% 3% 5%;
    height: 400px;
    width: 100%;
    position: relative;
}
.product,
.product2{
    display: flex;
    column-gap: 25px;
    width: 1430px;
    height: 350px;
 
    flex-wrap: nowrap;
    transition: 0.5s;
}
.slider{
    cursor: pointer;
}
.slider:hover img{
    scale: 1.1;
    transition: 0.3s;
}
.frame{
    overflow: hidden;
}
.product-buy-image{
    background-size: contain;
    width: 140px;
}
.product-heading-buy{
    height: 46px;
    overflow: hidden;
}
.product-heading-buy h4{
    font-size: 1.4cap;
    font-weight: 500;
    padding: 4px;
}
.price{
    margin-top: 19%;
    font-weight: 600;
    padding: 2px;
}
.add-cart{
    width: 98%;
    margin-top: 1%;
    color: #198754;
    border: solid #198754 1px;
    background-color: aliceblue;
    margin: 0px 2px 0px 2px;
}


.scroll-btn{
    width: 92%;
    position: absolute;
    justify-content: space-between;
    display: flex;
    top: 50%;
    left: 2.5%;
    align-items: center;
}
.right_btn,.left_btn,
.right_btn2,.left_btn2{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: #198754;
    font-weight: 800;

}





/* section 4 */

#frame-M{
    margin-top: 30px;
}

.EMC-img img{
   width: 170px;
}
.slider-2{
    height: 200px;
}
.slider-2:hover{
    scale: 1.1;
    transition: 0.5s;
}
.product-3{
    display: flex;
    column-gap: 25px;
    width: 1430px;
    height: 200px;
    flex-wrap: nowrap;
    transition: 0.5s;
}
.Section-5{
    padding: 3% 5% 0% 5%;
    height: 300px;
    width: 100%;
    position: relative;
}

/* price drop zone  */
.price-drop-zone{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* section 5 */
.Five{
    width: 100%;
    height: 1200px;
}
.all-in-one{
    width: 140px;
    height: 350px;
}
.aio-price{
    margin-top: 30px;
}
.aio-product img{
    width: 150px;
    height: 150px;
}
.full-all-in-one{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.aio-heading{
    height: 50px;
    overflow: hidden;
    font-weight: 300;
}
.aio-heading h4{
    font-size: 1.7cap;
}

/* footer */
.categories{
    font-size: 3cap;
    margin-bottom: 20px;
    padding-left: 1%;
}
.categories h3{
    font-weight: 700;
}
.footer-unorder {
    display: flex;
    flex-wrap: wrap;   
}
.social-media{
    margin-top: 30px;
    margin-left: 60px;  
}
.social-media a{
    margin-right: 30px;
    font-size: 2cap;
}

li{
    width: 19%;
    list-style: none;
    margin-left: 1%;
    margin-bottom: 1%;
    font-weight: 500;
}
.footer-unorder a{
    color: black;
    text-decoration: none;
}

.footer-section2{
    display: flex;
    gap: 100px;
}
.footer-down-list li{
    width: 300px;
}

.footer-grocery-logo{
    padding-left: 80px;
}
.footer-download-store ul{
    padding: 0px;
    margin-top: 20px;
}
.footer-download-store a{
    color: black;
    text-decoration: none;
    list-style: none;
}
.footer-download-store li{
    display: flex;
    width: 180px;
    align-items: center;
    gap: 10px;
    height: 35px;
    border: solid 1px black;
    margin-bottom: 20px;
}
.footer-download-store img{  
    height: 20px;
    display: flex;
    
}